{% extends 'base.html' %} {% block title %}Add a course{% endblock %} {% block
content %}
<div class="row flex-column align-items-center">
  <h1>Add a course</h1>
  <div class="col-6">
    <form action="/courses" method="POST">
      <div class="form-group">
        <label for="title">Course title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="description">Course description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Add a course!</button>
    </form>
  </div>
  <a href="/courses">Go back</a>
</div>
{% endblock %}
