{% extends 'base.html' %}

{% block title %}Here are all of the courses!{% endblock %}

{% block content %}
<h1>Welcome to school! Here are our courses:</h1>
<a href="/courses/new" class="btn btn-primary mb-3">Add a class</a>
{% for course in courses %}
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <p class="mb-0">{{ course.title }}</p>
    <p class="mb-0"><em>{{ course.instructors_str() }}</em></p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ course.description }}</p>
    <hr/>
    {% if course.reviews %}
      <p>Here's what people are saying about this course:</p>
      <ul>
        {% for review in course.reviews %}
          <li>
            {{ review.body }}
            <span data-review-id="{{ review.id }}" class="delete-review">❌</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No reviews yet :(</p>
    {% endif %}
    <a href="/courses/{{ course.id }}/reviews/new" class="btn btn-success">Add a review</a>
  </div>
</div>
{% endfor %}
{% endblock %}