{% extends 'base.html' %}

{% block title %}Here are all of the courses!{% endblock %}

{% block content %}
<h1>Welcome to school! Here are our courses:</h1>
<a href="/courses/new" class="btn btn-primary mb-3">Add a class</a>
{% for course in courses %}
<div class="card mb-4">
  <div class="card-header">
    {{ course.title }}
  </div>
  <div class="card-body">
    <p class="card-text">{{ course.description }}</p>
    <hr/>
    {% if course.reviews %}
      <p>Here's what people are saying about this course:</p>
      <ul>
        {% for review in course.reviews %}
          <li>{{ review.body }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No reviews yet :(</p>
    {% endif %}
    <a href="/courses/{{ course.id }}/reviews/new" class="btn btn-success">Add a review</a>
  </div>
</div>
{% endfor %}
{% endblock %}